/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 16px;
  line-height: 1.4;
}

/*
       * Remove text-shadow in selection highlight:
       * https://twitter.com/miketaylr/status/12228805301
       *
       * Vendor-prefixed and regular ::selection selectors cannot be combined:
       * https://stackoverflow.com/a/16982510/7133471
       *
       * Customize the background color to match your design.
       */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
       * A better looking default horizontal rule
       */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
       * Remove the gap between audio, canvas, iframes,
       * images, videos and the bottom of their containers:
       * https://github.com/h5bp/html5-boilerplate/issues/440
       */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
       * Remove default fieldset styles.
       */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
       * Allow only vertical resizing of textareas.
       */

textarea {
  resize: vertical;
}

/* ==========================================================================
         Browser Upgrade Prompt
         ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
         Author's custom styles
         ========================================================================== */

/* General Styles */

html {
  background-color: #ffffff;
  font-size: 16px;
  width: 100%;
}
header {
  background-image: url("../img/sample-logo-with-text.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  background-position: center;
  margin: auto;
  background-color: white;
}
body {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-align: left;
  width: 100%;
}
address {
  font-style: normal;
}
a {
  color: #ffffff;
  text-decoration: none;
}
h1 {
  color: #667b68;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 30px 0 0 0;
}
h2 {
  font-family: "Monserrat", sans-serif;
  font-size: 1.75em;
  margin: 0;
  color: #667b68;
  text-align: center;
}

h3 {
  font-family: "PT Serif", serif;
  font-size: 1.5em;
  line-height: 2;
  margin: 20px 0;
  color: #214a5c;
  text-align: center;
}
h4 {
  font-family: "PT Serif", serif;
  font-size: 1.5em;
  line-height: 2;
  color: #214a5c;
  text-align: center;
  margin: 0;
}

p {
  color: #214a5c;
  font-family: "PT Serif", serif;
  font-size: 1em;
  text-align: center;
  line-break: strict;
  padding: 10px 30px;
  margin: 0;
}
.caption {
  text-align: center;
}
.copyright {
  font-family: "PT Serif", serif;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  padding: 10px 30px;
}
#copyright {
  font-family: "PT Serif", serif;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  padding: 30px 0 0 0;
}
.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: auto;
  width: 60px;
  height: 60px;
}

/*HAMBURGER NAVBAR*/
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fb8500;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  text-align: center;
  padding: 12px 24px;
  color: #214a5c;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #fcf5e7;
} /**END OF NAVBAR**/
/*ABOUT SECTION*/
#about-section {
  background-color: #fcf5e7;
  width: 100%;
  height: 25%;
}
.profile-picture {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #ffffff;
  border-width: thick;
}
.profile-picture-badge {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #ffffff;
  border-width: thick;
}
.about-me {
  font-family: "Sacramento", cursive;
  font-size: 48px;
  text-align: center;
  color: #214a5c;
  margin: 0;
  width: 100%;
  padding-top: 20px;
}

.flex-container {
  color: #667b68;
}
/*SERVICES SECTION*/
#services-section {
  padding: 0 0 20px 0;
  width: 100%;
  height: 30%;
}

.services-section h3 {
  font-family: "PT Serif", serif;
  text-align: center;
  color: #214a5c;
  margin: 5px 20px 0;
}
.services-section h4 {
  font-family: "PT Serif", sans-serif;
  display: block;
  list-style: none;
  color: #214a5c;
  margin: 0;
}
input {
  display: none;
}
article > div {
  display: none;
}
label {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1.25em;
}

#section-0:checked ~ #section-0 > div {
  display: block;
  visibility: visible;
}
#section-1:checked ~ #section-1 > div {
  display: block;
  visibility: visible;
}
#section-2:checked ~ #section-2 > div {
  display: block;
  visibility: visible;
}
#section-3:checked ~ #section-3 > div {
  display: block;
  visibility: visible;
}
#section-4:checked ~ #section-4 > div {
  display: block;
  visibility: visible;
}
#section-5:checked ~ #section-5 > div {
  display: block;
  visibility: visible;
}
#section-6:checked ~ #section-6 > div {
  display: block;
  visibility: visible;
}
#section-7:checked ~ #section-7 > div {
  display: block;
  visibility: visible;
}
#section-8:checked ~ #section-8 > div {
  display: block;
  visibility: visible;
}
#section-9:checked ~ #section-9 > div {
  display: block;
  visibility: visible;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100px;
  padding: 0 10px;
}
.left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100px;
}
.right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100px;
}
.features-item-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
}
.features-item-list {
  color: white !important;
}

.features article {
  margin: 30px 0;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ==========================================================================
         Contact/Footer Section
         ========================================================================== */
footer {
  background-image: url("../img/tangerine-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#contact-section span {
  padding: 0 0 50px 0;
}
.contact-me {
  font-family: "Sacramento", cursive;
  font-size: 48px;
  text-align: center;
  margin: 0;
  width: 100%;
  color: #ffffff;
}
.footer-heading {
  text-align: center;
  color: #ffffff;
  padding: 30px 0 30px 0;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.footer-icon {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: column wrap;
}
.footer-link {
  color: #ffffff;
}
.footer-info {
  color: #ffffff;
  font-size: 1em;
  line-height: 2;
  padding: 0 30px;
}
.footer-info-phone {
  text-align: center;
  color: #ffffff;
}
.footer-info-list {
  font-family: "PT Serif", serif;
  text-align: left;
  color: #ffffff;
  padding: 0 40px 0 0;
}

/* ==========================================================================
         Helper classes
         ========================================================================== */

/*
       * Hide visually and from screen readers
       */

.hidden {
  display: none !important;
}

/*
       * Hide only visually, but have it available for screen readers:
       * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
       *
       * 1. For long content, line feeds are not interpreted as spaces and small width
       *    causes content to wrap 1 word per line:
       *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
       */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
       * Extends the .visuallyhidden class to allow the element
       * to be focusable when navigated to via the keyboard:
       * https://www.drupal.org/node/897638
       */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
       * Hide visually and from screen readers, but maintain layout
       */

.invisible {
  visibility: hidden;
}

/*
       * Clearfix: contain floats
       *
       * For modern browsers
       * 1. The space content is one way to avoid an Opera bug when the
       *    `contenteditable` attribute is included anywhere else in the document.
       *    Otherwise it causes space to appear at the top and bottom of elements
       *    that receive the `clearfix` class.
       * 2. The use of `table` rather than `block` is only necessary if using
       *    `:before` to contain the top-margins of child elements.
       */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
         EXAMPLE Media Queries for Responsive Design.
         These examples override the primary ('mobile first') styles.
         Modify as content requires.
         ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  .left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100px;
  }
  .right-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100px;
  }
  @media only screen and (min-width: 1000px) {
    /*Desktop styles here*/

    /* ==========================================================================
         Print styles.
         Inlined to avoid the additional HTTP request:
         https://www.phpied.com/delay-loading-your-print-css/
         ========================================================================== */

    @media print {
      *,
      *:before,
      *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
      }
      a,
      a:visited {
        text-decoration: underline;
      }
      a[href]:after {
        content: " (" attr(href) ")";
      }
      abbr[title]:after {
        content: " (" attr(title) ")";
      }
      /*
           * Don't show links that are fragment identifiers,
           * or use the `javascript:` pseudo protocol
           */
      a[href^="#"]:after,
      a[href^="javascript:"]:after {
        content: "";
      }
      pre {
        white-space: pre-wrap !important;
      }
      pre,
      blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
      }
      /*
           * Printing Tables:
           * http://css-discuss.incutio.com/wiki/Printing_Tables
           */
      thead {
        display: table-header-group;
      }
      tr,
      img {
        page-break-inside: avoid;
      }
      p,
      h2,
      h3 {
        orphans: 3;
        widows: 3;
      }
      h2,
      h3 {
        page-break-after: avoid;
      }
    }
  }
}
